* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--main-bg);
  color: var(--main-text-color);
  line-height: 20px;
  font-weight: 400;
  font-family: var(----font-family, --second-family, --third-family, --font4);
}

.first-title {
  font-family: var(--font4);
  line-height: 45px;
  font-size: calc(16px + 1vw);

  @include mq('tablet') {
    width: 260px;
  }

  @include mq('desctop') {
    font-size: 80px;
    width: auto;
    line-height: 70px;
  }
}
.second-title {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
  font-size: 21px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.third-title {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
  font-size: calc(15px + 0.5vw);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;

  @include mq('desctop') {
    font-size: 18px;
    font-weight: 700;
  }
}

.action {
  display: block;
  font-size: calc(30px + 1vw);
  line-height: 35px;
  text-transform: capitalize;

  @include mq('desctop') {
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
  }
}

.end-section {
  font-size: calc(40px + 1vw);
  font-weight: 700;

  @include mq('desctop') {
    font-size: 64px;
  }
}

.transition {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus {
    color: var(--gradient-background);
  }
}

.main {
  padding-top: 80px;

  @include mq('mobile') {
    padding-top: 80px;
  }
}
