.baners {
  &__action {
    max-width: 1224px;
    position: relative;
    padding: 15px 5px;
    overflow: hidden;
    border-radius: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url('/src/img/baner_FOOTER_bg.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(50px);
      background-color: linear-gradient(
        0deg,
        rgb(0, 0, 0) 63.664%,
        rgb(255, 255, 255) 155.852%
      );
      opacity: 0.5;
    }

    @include mq('tablet') {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    @include mq('desctop') {
      padding: 71px 152px 71px 57px;
      justify-content: center;
      gap: 82px;
      margin: 0 auto 121px auto;
    }
  }

  &__coming-soon {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;

    @include mq('desctop') {
      margin-bottom: 121px;
    }
  }

  &__link {
    @include mq('tablet') {
      display: flex;
      justify-content: center;
    }
  }

  &__img {
    &__coming-soon {
      margin: 0 auto 20px auto;
      @include mq('tablet') {
        width: 50%;
        margin: 15px auto 20px auto;
      }

      @include mq('desctop') {
        width: 294px;
        margin: 71px auto 31px auto;
      }
    }
  }

  &__box {
    padding: 20px 0;
    text-align: center;
    box-shadow: 30px 30px 30px 0px rgba(255, 255, 255, 0.1);
    background: linear-gradient(
      47.1deg,
      rgb(13, 26, 115) 29.671%,
      rgb(0, 0, 0) 70.522%
    );

    @include mq('tablet') {
      width: 50%;
      padding: 0;
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    margin-top: 20px;

    @include mq('tablet') {
      margin-top: 0;
    }

    @include mq('desctop') {
      padding: 15px 18px;
    }
  }

  &__box-poster {
    @include mq('tablet') {
      width: 50%;
    }
  }
}
