.films {
  padding: 60px 0 100px 0;
}

.films-list {
  display: none;

  @include mq('desctop') {
    display: flex;
    gap: 41px;
    margin-bottom: 60px;
  }
}

.posters {
  border-radius: 22px;
}

.box-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 25px;

  &__decoration {
    display: block;
    width: 8px;
    height: 35px;
    margin-right: 11px;
    border-radius: 50px;
    background-image: var(--gradient-background);
  }

  &__link {
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    transition: 200ms ease-in;

    &:hover,
    &:focus {
      color: #4982d2;
    }

    @include mq('desctop') {
      font-size: 28px;
    }
  }
  @include mq('desctop') {
    margin-bottom: 40px;
  }
}
