.footer {
  background-color: rgb(16, 16, 18);

  &__logo {
  }

  &__box-list {
    display: flex;
    gap: 10px;
  }
}

.info-list {
  width: 25%;
  &__item {
  }

  &__link {
    font-family: var(--font-family);
    word-wrap: none;
    color: var(--subtitle-text-color);
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
  }
}

.box-logo {
  padding: 15px 0;
}
