.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.information {
  font-family: var(--font-family);
  margin: 5px 0;

  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__rating {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__rating-svg {
    width: 15px;
    height: 15px;
  }

  &__age {
    background-image: radial-gradient(
      circle,
      rgb(50, 108, 255),
      rgb(38, 255, 242)
    );
    border: 3px solid transparent;
    border-radius: 50px;
    overflow: hidden;
  }

  &__text {
    background: #000;
    padding: 6px 15px;
  }

  &__description {
    margin: 5px 0 25px 0;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(194, 194, 194);
  }
}

.box-button {
  display: flex;
  gap: 15px;

  &__more-info {
    color: black;
    background: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }
}

.gradient-btn {
  color: #fff;
  background: var(--gradient-background);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
