.hero {
  background-image: url('/src/img/Лига.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.information {
  font-family: var(--font-family);
  margin: 5px 0;

  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__rating {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__rating-svg {
    width: 15px;
    height: 15px;
  }

  &__age {
    background-image: radial-gradient(
      circle,
      rgb(50, 108, 255),
      rgb(38, 255, 242)
    );
    border: 3px solid transparent;
    border-radius: 50px;
    overflow: hidden;
  }

  &__text {
    padding: 6px 15px;
  }

  &__description {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 15px;
    margin: 5px 0 25px 0;
    border-radius: 15px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(255, 251, 251);
  }
}

.box-button {
  display: flex;
  gap: 15px;

  &__more-info {
    color: black;
    background: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    transition: 0.2s linear;

    &:hover,
    &:focus {
      background-color: #ded8d8;
    }
  }

  &__icon {
    margin-right: 5px;
  }
}

.gradient-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: var(--gradient-background);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  transition: 0.2s linear;
  box-shadow: 0px 4px 50px 0px rgba(50, 108, 255, 0.5);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3c82f8;
  }
}
