.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: rgb(29, 27, 27);
  z-index: 5;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;

  &__list {
    display: block;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color-text);
    font-size: calc(var(--home_text_size_2) * (100vw / 1170) + 8px);
    font-family: inherit;
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.open-svg-mobile {
  fill: var(--white-color-text);
  width: 17px;
  height: 15px;
  margin-right: 5px;

  @media screen and (min-width: 480px) {
    width: 55px;
    height: 40px;
  }

  @media screen and (min-width: 780px) {
    width: 89px;
    height: 78px;
  }

  @media screen and (min-width: 1200px) {
    width: 100px;
    height: 85px;
  }
}

.open-svg {
  fill: white;
  display: inline-block;
  width: 35px;
  height: 35px;
  transition: fill var(--white-color-text);
}
.close-svg {
  stroke: rgb(255, 255, 255);
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: fill var(--white-color-text);
}

.icon-list {
  display: flex;
  gap: 15px;
  margin-bottom: 55px;

  &__item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms ease-in-out;

    &:hover,
    &:focus {
      background-color: rgba(143, 118, 118, 0.5);
    }
  }

  &__icon {
    width: 25px;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  &__link {
  }
}
