@charset "UTF-8";
:root {
  --font-family: "Mulish", sans-serif;
  --second-family: "Lemon", sans-serif;
  --third-family: "Poppins", sans-serif;
  --font4: "Marcellus", sans-serif;
  --main-text-color: rgb(255, 255, 255);
  --subtitle-text-color: rgb(194, 194, 194);
  --main-bg: rgb(0, 0, 0);
  --gradient-background: linear-gradient(
    to right,
    rgb(50, 108, 255),
    rgb(38, 255, 242)
  );
  --romance: linear-gradient(
    135.87deg,
    rgb(253, 9, 63) 2.396%,
    rgb(243, 131, 241) 100%
  );
  --drama: linear-gradient(
    143.47deg,
    rgb(15, 255, 218) 2.223%,
    rgb(60, 219, 119) 68.837%
  );
  --historical: linear-gradient(
    135.87deg,
    rgb(185, 54, 255) 2.396%,
    rgb(87, 222, 218) 100%
  );
  --action: linear-gradient(
    135.87deg,
    rgb(253, 9, 63) 2.396%,
    rgb(251, 19, 120) 2.405%,
    rgb(252, 203, 26) 100%
  );
  --sci-fi: linear-gradient(
    135.87deg,
    rgb(255, 100, 114) 2.396%,
    rgb(253, 167, 93) 100%
  );
  --horror: linear-gradient(
    137.08deg,
    rgb(19, 84, 122) 2.366%,
    rgb(128, 208, 199) 96.773%
  );
  --comedy: linear-gradient(
    136.77deg,
    rgb(255, 247, 123) 2.374%,
    rgb(255, 191, 66) 50%
  );
  --documentary: linear-gradient(
    135.87deg,
    rgb(31, 162, 255) 2.396%,
    rgb(31, 162, 255) 2.405%,
    rgb(31, 83, 92) 97.458%
  );
  --list-lenght: 8;
  --color-list: var(
    --romance,
    --drama,
    --historical,
    --action,
    --sci-fi,
    --horror,
    --comedy,
    --documentary
  );
}

:root {
  --color-1: var(--romance);
}

:root {
  --color-2: var(--romance);
}

:root {
  --color-3: var(--romance);
}

:root {
  --color-4: var(--romance);
}

:root {
  --color-5: var(--romance);
}

:root {
  --color-6: var(--romance);
}

:root {
  --color-7: var(--romance);
}

:root {
  --color-8: var(--romance);
}

.swiper {
  margin-top: 5px;
}
.swiper__films {
  border-radius: 24px;
  filter: drop-shadow(0px 0px 10px rgba(44, 176, 249, 0.5));
}
.swiper__link {
  text-align: center;
  width: fit-content;
  overflow: hidden;
}
.swiper__img-actors {
  border-radius: 50%;
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .swiper__img-actors {
    margin-bottom: 20px;
  }
}

.mySwiper_2 {
  padding: 40px 0;
}
@media screen and (min-width: 1200px) {
  .mySwiper_2 {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--main-bg);
  color: var(--main-text-color);
  line-height: 20px;
  font-weight: 400;
  font-family: var(----font-family, --second-family, --third-family, --font4);
}

.first-title {
  font-family: var(--font4);
  line-height: 45px;
  font-size: calc(16px + 1vw);
}
@media screen and (min-width: 768px) {
  .first-title {
    width: 260px;
  }
}
@media screen and (min-width: 1200px) {
  .first-title {
    font-size: 80px;
    width: auto;
    line-height: 70px;
  }
}

.second-title {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
  font-size: 21px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.third-title {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
  font-size: calc(15px + 0.5vw);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .third-title {
    font-size: 18px;
    font-weight: 700;
  }
}

.action {
  display: block;
  font-size: calc(30px + 1vw);
  line-height: 35px;
  text-transform: capitalize;
}
@media screen and (min-width: 1200px) {
  .action {
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
  }
}

.end-section {
  font-size: calc(40px + 1vw);
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  .end-section {
    font-size: 64px;
  }
}

.transition {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.transition:hover, .transition:focus {
  color: var(--gradient-background);
}

.main {
  padding-top: 80px;
}
@media screen and (min-width: 480px) {
  .main {
    padding-top: 80px;
  }
}

.container {
  max-width: 1441px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .information-container {
    max-width: 40%;
    padding: 10px 0;
  }
}
@media screen and (min-width: 1200px) {
  .information-container {
    padding: 122px 29px 203px 0px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: flex;
    gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .films-container {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: start;
    align-items: normal;
  }
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: rgb(29, 27, 27);
  z-index: 5;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}
.menu-container__list {
  display: block;
}
.menu-container__item {
  margin-bottom: 15px;
}
.menu-container__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color-text);
  font-size: calc(var(--home_text_size_2) * 0.0854700855vw + 8px);
  font-family: inherit;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.open-svg {
  fill: white;
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: fill var(--white-color-text);
}
@media screen and (min-width: 768px) {
  .open-svg {
    display: none;
  }
}

.close-svg {
  stroke: rgb(255, 255, 255);
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: fill var(--white-color-text);
}

.icon-list {
  display: flex;
  margin-right: 15px;
}
.icon-list__item {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-list__link {
  width: 100%;
  display: flex;
  font-size: 18px;
}
.icon-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 480px) {
  .icon-list__icon {
    width: 25px;
    height: 25px;
  }
}
@media screen and (min-width: 480px) {
  .icon-list {
    margin-bottom: 0px;
    gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .icon-list {
    margin-left: auto;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .icon-list {
    gap: 75px;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.nav-list__link {
  position: relative;
  padding: 10px 0;
  font-size: 20px;
  opacity: 0.5;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-list__link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.5s;
}
.nav-list__link:hover, .nav-list__link:focus {
  opacity: 1;
}
.nav-list__link:hover::after, .nav-list__link:focus::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background: linear-gradient(-8.53deg, rgb(38, 255, 242) 26.767%, rgb(50, 108, 255) 42.283%);
  transition: width 0.5s;
}
@media screen and (min-width: 1200px) {
  .nav-list__link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    gap: 54px;
  }
}

.in-menu {
  margin: 0 0 25px 0;
  gap: 15px;
}
@media screen and (min-width: 480px) {
  .in-menu {
    display: none;
  }
}

.in-header {
  display: none;
}
.in-header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .in-header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .in-header {
    display: flex;
  }
}

.footer {
  background-color: rgb(16, 16, 18);
}
.footer__box-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer__box-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 84px;
    gap: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 70px 245px;
  }
}

.info-list {
  color: #fff;
}
.info-list__item {
  width: fit-content;
}
@media screen and (min-width: 1200px) {
  .info-list__item {
    margin-bottom: 20px;
    width: 100%;
  }
}
.info-list__link {
  font-family: var(--font-family);
  white-space: nowrap;
  color: var(--subtitle-text-color);
  font-size: 8px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  opacity: 0.5;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1);
}
.info-list__link:hover, .info-list__link:focus {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .info-list__link {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .info-list {
    width: auto;
  }
}

.box-logo {
  padding: 15px 0;
}
@media screen and (min-width: 1200px) {
  .box-logo {
    padding: 0;
  }
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #000;
  display: flex;
  padding: 5px 5px;
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 15px 79px 15px 85px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.hero {
  background-image: url("./scr/img/Лига.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid #2f2e2e;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 0;
  }
}

.information {
  font-family: var(--font-family);
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.information__rating {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.information__rating-svg {
  width: 15px;
  height: 15px;
}
.information__age {
  background-image: radial-gradient(circle, rgb(50, 108, 255), rgb(38, 255, 242));
  border: 3px solid transparent;
  border-radius: 50px;
  overflow: hidden;
}
.information__text {
  padding: 6px 15px;
  background: black;
}
.information__description {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  margin: 5px 0 25px 0;
  border-radius: 15px;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(255, 251, 251);
}
@media screen and (min-width: 768px) {
  .information__description {
    padding: 10px 5px;
    margin: 15px 0px;
    background: rgba(62, 59, 59, 0.8);
  }
}
@media screen and (min-width: 1200px) {
  .information__description {
    margin-bottom: 35px;
    background: none;
    color: rgb(194, 194, 194);
    line-height: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .information {
    margin: 39px 195px 32px 0;
  }
}

.box-button {
  display: flex;
  gap: 15px;
}
.box-button__more-info {
  color: black;
  background: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  transition: 0.2s linear;
}
.box-button__more-info:hover, .box-button__more-info:focus {
  background-color: #ded8d8;
}
@media screen and (min-width: 1200px) {
  .box-button__more-info {
    gap: 30px;
    padding: 15px 30px;
    font-weight: 800;
    color: rgb(50, 50, 50);
  }
}
.box-button__icon {
  margin-right: 5px;
}
@media screen and (min-width: 1200px) {
  .box-button__icon {
    margin-right: 15px;
    width: 14px;
    height: 18px;
  }
}

.gradient-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: var(--gradient-background);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  transition: 0.2s linear;
  box-shadow: 0px 4px 50px 0px rgba(50, 108, 255, 0.5);
}
.gradient-btn:hover, .gradient-btn:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3c82f8;
}
@media screen and (min-width: 1200px) {
  .gradient-btn {
    padding: 15px 30px;
  }
}

.see-more {
  padding: 15px 35px;
}

@media screen and (min-width: 768px) {
  .box-img {
    background-image: url("/src/img/Лига.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
  }
}

.films {
  padding: 60px 0 100px 0;
}

.films-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .films-list {
    display: flex;
    gap: 41px;
    margin-bottom: 60px;
  }
}

.posters {
  border-radius: 22px;
}

.box-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 25px;
}
.box-title__decoration {
  display: block;
  width: 8px;
  height: 35px;
  margin-right: 11px;
  border-radius: 50px;
  background-image: var(--gradient-background);
}
.box-title__link {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  transition: 200ms ease-in;
}
.box-title__link:hover, .box-title__link:focus {
  color: #4982d2;
}
@media screen and (min-width: 1200px) {
  .box-title__link {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .box-title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .actors {
    gap: 60px;
    margin-bottom: 94px;
  }
}

.baners__action {
  max-width: 1224px;
  position: relative;
  padding: 15px 5px;
  overflow: hidden;
  border-radius: 20px;
}
.baners__action::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/src/img/baner_FOOTER_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(50px);
  background-color: linear-gradient(0deg, rgb(0, 0, 0) 63.664%, rgb(255, 255, 255) 155.852%);
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .baners__action {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .baners__action {
    padding: 71px 152px 71px 57px;
    justify-content: center;
    gap: 82px;
    margin: 0 auto 121px auto;
  }
}
.baners__coming-soon {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .baners__coming-soon {
    margin-bottom: 121px;
  }
}
@media screen and (min-width: 768px) {
  .baners__link {
    display: flex;
    justify-content: center;
  }
}
.baners__img__coming-soon {
  margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) {
  .baners__img__coming-soon {
    width: 50%;
    margin: 15px auto 20px auto;
  }
}
@media screen and (min-width: 1200px) {
  .baners__img__coming-soon {
    width: 294px;
    margin: 71px auto 31px auto;
  }
}
.baners__box {
  padding: 20px 0;
  text-align: center;
  box-shadow: 30px 30px 30px 0px rgba(255, 255, 255, 0.1);
  background: linear-gradient(47.1deg, rgb(13, 26, 115) 29.671%, rgb(0, 0, 0) 70.522%);
}
@media screen and (min-width: 768px) {
  .baners__box {
    width: 50%;
    padding: 0;
  }
}
.baners__button {
  position: relative;
  z-index: 1;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .baners__button {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .baners__button {
    padding: 15px 18px;
  }
}
@media screen and (min-width: 768px) {
  .baners__box-poster {
    width: 50%;
  }
}

.geners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 27px;
}
.geners__item {
  width: 40%;
  padding: 5px;
  border-radius: 10px;
  transition: all 200ms ease-in;
}
.geners__item:nth-child(1) {
  background: var(--romance);
}
.geners__item:nth-child(2) {
  background: var(--drama);
}
.geners__item:nth-child(3) {
  background: var(--historical);
}
.geners__item:nth-child(4) {
  background: var(--action);
}
.geners__item:nth-child(5) {
  background: var(--sci-fi);
}
.geners__item:nth-child(6) {
  background: var(--horror);
}
.geners__item:nth-child(7) {
  background: var(--comedy);
}
.geners__item:nth-child(8) {
  background: var(--documentary);
}
.geners__item:hover, .geners__item:focus {
  background: rgb(47, 46, 46);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
@media screen and (min-width: 768px) {
  .geners__item {
    padding: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .geners__item {
    width: 23.5%;
    padding: 45px 107px;
  }
}
.geners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: var(--font-family);
}
@media screen and (min-width: 1200px) {
  .geners__link {
    font-size: 28px;
    line-height: 20px;
  }
}
.geners__icon {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 1200px) {
  .geners__icon {
    margin-bottom: 8px;
    width: 78px;
    height: 69px;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .geners {
    margin-bottom: 70px;
  }
}/*# sourceMappingURL=main.css.map */